/Impar/nbproject/private/
/Impar/build/
/100_ate_0/nbproject/private/
/ate0/nbproject/private/
/ate0/build/
/Alunos/nbproject/private/
/Alunos/build/
/Mensagem/nbproject/private/
/Mensagem/build/
/soma100/nbproject/private/
/soma100/build/
/multiplos3/nbproject/private/
/multiplos3/build/
/multiplos7/nbproject/private/
/multiplos7/build/